[core]
	ignorecase = true
	excludesfile = /Users/sbeam/.gitignore
[user]
[alias]
	unstage = reset HEAD --
	co = checkout
	c = commit
	cnv = commit --no-verify
	br = branch
	st = status
	last = log -1 HEAD
	vis = !gitk
  dm = diff master...HEAD
  laststash = stash show -p stash@{0}
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  thisbranch = rev-parse --abbrev-ref HEAD
  fixup-author = commit --amend --reset-author --no-edit
	force = push --force-with-lease
  deleteremotebranch = push origin --delete
	pushup = !git push --set-upstream origin `git symbolic-ref --short HEAD`
	pullup = "!f() { BRANCH=$(git symbolic-ref --short HEAD); if [ $# -eq 0 ] || [[ $BRANCH == $1 ]]; then git pull --ff-only; else git fetch origin $1:$1; fi; }; f"
	trim = !git fetch --prune && git branch --merged | grep -E -v \"^((\\* )|\\s*(develop|master)$)\" | xargs git branch -d
[rerere]
	enabled = true
[user]
	name = Sam Beam
	initials = sb
	email = sbeam@syxyz.net
[branch]
  autosetuprebase = remote
