[core]
	ignorecase = true
[user]
[alias]
	unstage = reset HEAD --
	co = checkout
	cm = commit
	br = branch
	st = status
	last = log -1 HEAD
	vis = !gitk
  dm = diff master...HEAD
  laststash = stash show -p stash@{0}
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[rerere]
	enabled = true
[user]
	name = Sam Beam
	initials = sb
	email = sbeam@syxyz.net
