[core]
	ignorecase = true
	excludesfile = /Users/sbeam/.gitignore
[user]
[alias]
	unstage = reset HEAD --
	co = checkout
	c = commit
	cnv = commit --no-verify
	br = branch
	st = status
	last = log -1 HEAD
	vis = !gitk
  dm = diff master...HEAD
  laststash = stash show -p stash@{0}
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  thisbranch = rev-parse --abbrev-ref HEAD
  fixup-author = commit --amend --reset-author --no-edit
	force = push --force-with-lease
  deleteremotebranch = push origin --delete
[rerere]
	enabled = true
[user]
	name = Sam Beam
	initials = sb
	email = sbeam@syxyz.net
[branch]
  autosetuprebase = remote
